body { overflow: hidden; margin: 0; }
.clear { clear: both; }
#container { margin: auto; display: none; }
#login { width: 704px; height: 100%; margin: auto; background: url('../assets/bg.jpg'); background-size: 100% 100%; }
#login label { display: block; }
#login .form-line { margin: auto; width: 300px; padding-top: 20px; }
#login input { padding: 10px; border: 1px solid grey; border-radius: 10px; width: 300px; }
#login button { padding: 10px; border: 1px solid grey; border-radius: 10px; background: springgreen; width: 100px; margin: auto; display: block; margin-top: 20px; }
#login button:hover { cursor: pointer; background: green; }
#login-form { display: none; }
#login-loading { text-align: center; }
.pt-1 { padding-top: 100px; }
#chat { position: absolute; width: 600px; z-index: 999; left: 50%; margin-left: -300px; bottom: 0; padding: 10px; }
#chat input { position: absolute; bottom: 0; border: 0; background: none; width: 100%; }
#chat span { word-wrap: break-word; }
#chat .from { font-weight: bold; }

#sound-controller { position: absolute; top: 0px; right: 0px; padding: 10px; text-align: center; }
#sound-controller span { display: block; }
#sound-controller div { display: inline-block; }
#sound-controller .un-muted, #sound-controller .muted, #sound-controller .add, #sound-controller .sub { width: 23px; height: 23px; cursor: pointer; }
#sound-controller .un-muted { background: url("../assets/sound.png") repeat scroll 23px 0; }
#sound-controller .muted { background: url("../assets/sound.png") repeat scroll 62px 0; }
#sound-controller .add { background: url("../assets/sound.png") repeat scroll 0 0; }
#sound-controller .sub { background: url("../assets/sound.png") repeat scroll 100px 0; }

#skin-control div { text-align: center; }
#skin-control a { text-decoration: none; }

#skin-preview { width: 48px; height: 48px; margin: auto; }
#skin-preview div { position: absolute; width: 48px; height: 48px; }

#stats { position: absolute; left: 0; top: 0; }